.super-mario {
    width: 200px;
    position: absolute;
    top: 50%;
    margin-left: 27%;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 100%;
    margin-left: 30%;
  }
  
  .baloon {
  
position: absolute;
border-width: 3px;
z-index: 1;
left: 50%;
top: 35%;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 45%;
    left: 52%;
    z-index: 2;
    
  
  }
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 70%;
  }

  



